

body {
    line-height: 150%;
    width: 100%;
    background-image: url("../images/palm-leaf.png");
    margin-top: 0px;
    margin-left: 0px;
    
}

#containerBottom {
    background-color: white;
    border: 1px solid #cccccc;
}

.navbar-brand {
    background-color:#4aaaa5;
    font-size: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;    
    color:white;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #777777;
}

.nav-item {
    
}

.nav-link {
    color: white;
}

.navWrapper {
    background-color:#777777;
    width:100%;
}
a.GrayLinks:hover {
    color: #4aaaa5;
    font-weight:bold;
    
}

a.GrayLinks:active {
    color:darkgoldenrod;
}

a.GrayLinks:focus {
    color: turquoise;
}
   

h1 {
    color: #4aaaa5;
    margin-left: 1.5%;
    margin-top: 16px;
}

#portfolioButtons {
    width: 100%;
    border: 0px;

}

.card-body {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    bottom: 100px;
}

.card {
    border: 0px;
    margin-left: 3rem;
}




footer {
    
    
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #666666;
    color: whitesmoke;
    border-top: 6px solid #4aaaa5;
    
}

#myImage {
    width: 100%;
    margin-left: 5%;
}

#paragraph {
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}



header {
    background: white;
    height: 70px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: relative;
    padding: auto;
    width: 100%;
}

.pseudoHR {

    border-top: 1px solid #cccccc;
    margin-bottom: 20px;
    margin-top: 20px;
}



input {
    width: 920px;
    margin-bottom: 20px;
}


#submitButton {
    width:15%;
    height:40px;
    background-color: #4aaaa5;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 2%;
    margin-left: 5%;
}

#submitButton:hover {
    background: goldenrod;
    transition: 0.5s;
}

#portfolioButtons {
    background-color: #4aaaa5;
    position:relative;
    width: 
}

#portfolioButtons:hover {
    background: goldenrod;
    transition: 0.5s;
}


/* Portfolio CSS */

.thumbnails {
    width: 100%;
    height: 20rem;
}



@media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }

  }

